.whatsappcontact {
    display: grid;
    place-content: center;
  }

.whatsappcontact:hover {
    color: rgb(23, 220, 23);
}

.bar {
    background-color: #1a1a1d;
    padding-top: 6px;
    padding-bottom: 6px;
}

.letter-color {
    color: aliceblue;
    margin-bottom: 0.3rem;
}

.form-button {
    font-size: 1rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    position: relative;
    margin-left: 320px;
    width: 5rem;
}

.form-size {
    height: 2rem;
    width: 25rem;
}

.form-size1 {
    height: 5rem;
    width: 25rem;
}

.form-position {
    display: grid;
    place-content: center;
}