.whatsappcontact {
    display: grid;
    place-content: center;
    padding-top: 0.75rem;
  }

.whatsappcontact{
    color: rgb(80, 190, 80);
}

.bar {
    background-color: #1a1a1d;
    padding-top: 0.35rem;
    padding-bottom: 1rem;
}

 .letter-color {
    color: aliceblue;
    margin-bottom: 0.3rem;
}
 
.form-button {
    font-size: 1rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    width: 5rem;
}

.email-padding {
    padding-top: 0.8rem;
}

.letter-col {
    color: white;
}

.comment-position {
    padding-top: 0.8rem;
}

.whatsapp-contact-text {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

.social-media-name {
    display: flex;
    justify-content: center;
    padding-top: 0.7rem;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.whatsapp-color {
    color: rgb(70, 203, 70);
}

.whatsapp-color-icon:hover {
    color: rgb(119, 236, 119);
}

.facebook-color {
    color: rgb(59, 162, 236);
    display: grid;
    place-content: center;
}

.facebook-color-icon {
    color: rgb(27, 134, 210);
    display: grid;
    place-content: center;
    padding-top: 0.75rem;
}

.facebook-color-icon:hover {
    color: rgb(92, 174, 233);
    display: grid;
    place-content: center;
}

.instagram-color {
    background-image: linear-gradient(45deg, rgb(242, 15, 53), rgb(241, 94, 16), rgb(115, 21, 248),rgb(210, 15, 235));
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.5);
}

.instagram-color-icon {
    display: grid;
    place-content: center;
    padding-top: 0.75rem;
    color: rgb(195, 56, 237);
    filter: brightness(1.5);
    text-decoration: none;
  }

.instagram-color-icon:hover {
    filter: brightness(1.7);
    color: rgb(209, 72, 225);
}

.social-media-position {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}